<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Vue -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--Google-->
    <meta name="google-signin-client_id" content="444283042093-a3k9ghekg9vi7orir6d09ns0olk7jq75.apps.googleusercontent.com">
    <!-- Bootstrap CSS -->
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--vueWysiwyg-->
    <link rel="stylesheet" href="css/vueWysiwyg.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Mini Word Press</title>
    
  </head>
  <body>
    <!--Nav Bar-->
    <div id="app">
      <nav>
        <div class="container">
          <div class="row align-middle">
            <div class="col">
              <div class="row">
                <div class="col s6 py-4" v-if="loggedIn">                
                  <a href="#" v-on:click.prevent="showArticles"> Dashboard </a>
                </div>
                <div class="col s6 py-4" v-if="loggedIn">                
                  <a href="#" v-on:click.prevent="showEditor"> Write </a>
                </div>
                <div class="col s6 py-4" v-if="loggedIn">                
                  <a href="#" v-on:click.prevent="showAll"> Read </a>
                </div>
              </div>
            </div>
            <div class="col-5 text-center">
              <a class="nav-link" href="#"><img src="img/logo.jpg" style="width:45px"></a>
            </div>
            <div class="col">
              <div class="row">
                <div class="col py-3">
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal" v-on:click="modal = 'register'">Register</button>
                </div>
                <div class="col py-3">
                  <div v-if="loggedIn == false">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal" data-dismiss="modal" v-on:click="modal = 'login'">Login</button>
                  </div>
                  <div v-else class="py-2">
                    <a href="#" v-on:click="logout">Logout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      
     
      <div class="container py-4" v-if=" show == '' && loggedIn === false " id="home">
          <div data-aos="flip-up"  
          data-aos-offset="200"
          data-aos-delay="50"
          data-aos-duration="1000">
          <div class="row align-middle" style="display: flex; justify-content: center">
              <div data-aos="flip-up"  
              data-aos-offset="200"
              data-aos-delay="50"
              data-aos-duration="1000">
                <div class="col s4">
                    <img src="img/beach.jpeg" alt="beach1" srcset="" width="235px" height="357px">
                </div>
              </div>
              <div data-aos="flip-up"  
              data-aos-offset="200"
              data-aos-delay="50"
              data-aos-duration="2000">
                <div class="col s4">
                    <img src="img/street2.jpg" alt="beach2" srcset="" width="235px" height="357px">
                </div>
              </div>
              <div data-aos="flip-up"  
              data-aos-offset="200"
              data-aos-delay="50"
              data-aos-duration="3000">
                <div class="col s4">
                    <img src="img/street3.jpg" alt="fisher" srcset="" width="235px" height="357px">
                </div>
              </div>
              </div>
          </div>
            <div class="align-middle">
              <h6 class="text-center py-4 "><i>{{quotes}}</i> - {{quotesAuthor}}</h6>
              <h6 class="text-center py-4 ">Join Wordpress, today!</h6>
            </div>
          
      </div>

      <div>
        <div class="g-signin2 ml-4" data-onsuccess="onSignIn" v-show="loggedIn == false" style="margin-left:44%!important"></div>
      </div>
      
   
      <!--Search-->
      <div class="container py-4 text-center" v-if="loggedIn && show !== 'unique'">
        <input type="text" placeholder="Search title" aria-label="Search" v-model="search" class="text-center" >    
      </div>
      
      <!--Wyswig-->
      <div  v-if="loggedIn && show === 'editor' || show === 'editing'">
          <div class="container py-6">
              <div v-html="text"></div>
          </div>
          <div class="container py-4">
            <form action="">
              <input v-if="show === 'editor'" type="text" v-model="title" placeholder="Input Title">
              <input v-else="show === 'editing'" type="text" v-model="title">

              <wysiwyg v-if="show == 'editor'" v-model="content"></wysiwyg>
              <wysiwyg v-else="show == 'editing'" v-model="content"></wysiwyg>

              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" v-on:change="getImage" label="File" v-if="show == 'editor'">
                <label class="custom-file-label"></label>
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" v-on:change="getImage" label="File" v-if="show == 'editing'">
                <label class="custom-file-label">{{image}}</label>
              </div>
              <button v-if="show == 'editor'" type="submit" class="btn btn-light" v-on:click.prevent="addArticle">Submit</button>
              <button v-if="show == 'editing'" type="submit" class="btn btn-light" v-on:click.prevent="editArticle(articleId)">Edit</button>
            </form>    
          </div>
      </div>
          
        <!--Articles-->
           <show-articles
            v-bind:not-authorized="notAuthorized"
            v-bind:filter-articles="filteredArticles"
            v-bind:article-details="articleDetails"
            v-on:unique-articles="uniqueArticle"
            v-on:delete-article="deleteArticle"
  
            v-if="loggedIn && show === 'articles'"
           > </show-articles>

          <!-- Article Details-->
          <article-details
          v-bind:show="show"
          v-bind:title="title"
          v-bind:email="email"
          v-bind:content="content"
          v-bind:created-at="createdAt"
          v-bind:image="image"
          > </article-details>

          <p v-if="entries.length == 0 && show == 'articles'" class="text-center"> No article yet, why don't you make one? </p>
          <!--Modals Register-->
          <modals
          v-on:success-register="successRegister"
          v-on:success-login="successLogin"
          v-bind:modal="modal"
          ></modals>
            
        </div>
      </div>
         
      <!--Dropdown toggle-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
   
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    
    <script src="components/show-articles.js"></script>
    <script src="components/article-details.js"></script>
    <script src="components/vueWysiwyg.js"></script>
    <script src="components/modal-register-login.js"></script>
    <script src="js/index.js"></script>
    <script>
        AOS.init();
    </script>
  </body>
</html>