* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Avenir';
    background-color: #f6f5f5
}

nav {
    background-color: white
}
nav a {
    display: inline;
    color: black;
}

a:hover {
    text-decoration:none
}


.article {
    margin: auto;
    display: flex;
}

pb-4, .py-4 {
    padding-bottom: 0.5rem!important;
}

